<header class="bg-slate-200 px-8 md:px-16 py-8 shadow-sm">
  <form
    [formGroup]="textAnalyzerForm"
    (ngSubmit)="onSubmit()"
    class="bg-white sm:rounded-md shadow-md"
  >
    <div class="px-4 py-5 space-y-6 sm:p-6 grid grid-cols-2">
      <fieldset class="col-span-2">
        <div>
          <legend class="legend">Text</legend>
        </div>
        <div class="mt-4 space-y-4">
          <div>
            <div class="mt-1">
              <textarea
                id="text"
                formControlName="text"
                rows="5"
                class="textarea"
                placeholder="Random sentence to be analyzed..."
              ></textarea>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="col-span-2 sm:col-span-1">
        <div>
          <legend class="legend">Parameter</legend>
        </div>
        <div class="mt-4 space-y-4">
          <div class="flex items-center">
            <input
              id="vowels"
              formControlName="parameter"
              type="radio"
              [value]="analysisParameterEnum.VOWELS"
              class="input-radio"
            />
            <label for="vowels" class="label-input-radio">Vowels</label>
          </div>
          <div class="flex items-center">
            <input
              id="consonants"
              formControlName="parameter"
              type="radio"
              [value]="analysisParameterEnum.CONSONANTS"
              class="input-radio"
            />
            <label for="consonants" class="label-input-radio">Consonants</label>
          </div>
        </div>
      </fieldset>

      <fieldset class="col-span-2 sm:col-span-1">
        <div>
          <legend class="legend">Mode</legend>
        </div>
        <div class="mt-4 space-y-4">
          <div class="flex items-center">
            <input
              id="online"
              formControlName="mode"
              type="radio"
              [value]="analysisModeEnum.ONLINE"
              class="input-radio"
            />
            <label for="online" class="label-input-radio">Online</label>
          </div>
          <div class="flex items-center">
            <input
              id="offline"
              formControlName="mode"
              type="radio"
              [value]="analysisModeEnum.OFFLINE"
              class="input-radio"
            />
            <label for="offline" class="label-input-radio">Offline</label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="px-4 py-3 text-right sm:px-6">
      <button
        type="submit"
        [disabled]="!textAnalyzerForm.valid"
        class="btn-submit"
      >
        Analyze
      </button>
    </div>
  </form>
</header>

<div *ngIf="errorMessage$ | async" class="p-8 md:p-16 pb-0">
  <h5 class="error-message sm:rounded-md shadow-sm p-4">
    {{ errorMessage$ | async }}
  </h5>
</div>

<main class="p-8 md:p-16 space-y-6">
  <div
    *ngFor="let textAnalyzer of textAnalyzers$ | async"
    class="sm:rounded-md shadow-md p-6 space-y-6 bg-slate-50/50 border border-slate-200"
    [id]="textAnalyzer.id"
  >
    <div class="space-y-2">
      <div class="flex items-center gap-2 text-xs">
        <p>
          Parameter:
          <span class="font-semibold">{{
            textAnalyzer.userInput.parameter
          }}</span>
        </p>
        <span
          class="font-semibold rounded-full px-4 py-1"
          [class]="textAnalyzer.mode === analysisModeEnum.ONLINE ? 'badge-online' : 'badge-offline'"
        >
          {{ textAnalyzer.mode }}
        </span>
      </div>
      <blockquote class="p-4 bg-slate-100 text-sm rounded-sm">
        {{ textAnalyzer.userInput.text }}
      </blockquote>
    </div>
    <hr />
    <div class="space-y-4">
      <h5 class="legend">Analysis results</h5>
      <div class="grid grid-cols-[20px_1fr] gap-x-2 gap-y-1">
        <ng-container
          *ngFor="let result of textAnalyzer.analysisResult | keyvalue"
        >
          <div class="text-right">{{ result.key | uppercase }}:</div>
          <div>{{ result.value }}</div>
        </ng-container>
      </div>
      <p>
        <em class="text-sm">
          Analysis duration:
          {{ textAnalyzer.analysisDuration | number: "1.3-3" }} ms
        </em>
      </p>
    </div>
  </div>
</main>
